bin/
obj/
artifacts/
.vs/
*.user
*.suo
*.pfx
*.snk
secret.dat
bemfa.uid.dpapi
config.json
restart.flag
status.json
*.log

artifacts-ui-*/


artifacts-wpf-test/

artifacts-ui-spacing/
artifacts-title-test/
